# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and local secrets
.env
.env.*

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test/cache folders
.pytest_cache/
.mypy_cache/

# Logs
*.log
*.zip
*.rar
